<!--
Author: Yuxiang Lin (Mike)
Created: 6/10
Edit: 6/12 Mike, Add script src for google map api
  -->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>OSU Dorms</title>
		<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="housingJS.js" ></script>
		<link rel="stylesheet" type="text/css" href="style.css"/>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwxEF8D4Qb2rbXft8yvgGBiwCL8tzaezY&callback=initMap"></script>
	</head>
	<body>
		<div style="height: 50px"></div>
		<h1>OSU Recidence Halls</h1>
		<hr />
		<div id="wrap">
		</div>
	</body>
</html>
